---
layout: default
---

<h2>{{ page.name }}</h2>

<h3>Regidores</h3>
<ul>
  {% for regidores in page.regidores %}
  <li><a href="{{ regidores.url | prepend: site.baseurl }}">{{ regidores.name }}</a></li>
  {% else %}
  <li>No regidores for {{ page.name }}</li>
  {% endfor %}
</ul>

<h3>Alcades</h3>
<ul>
  {% for alcades in page.alcades %}
  <li><a href="{{ alcades.url | prepend: site.baseurl }}">{{ alcades.name }}</a></li>
  {% else %}
  <li>No alcades for {{ page.name }}</li>
  {% endfor %}
</ul>
